.card__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 6px 30px;
  & > .col {
    padding: 0;
  }
}
.card {
  min-width: 250px;
  width: 100%;
  margin-bottom: 30px;
  border: 0;
  padding: 0 9px;
  @media screen and (max-width: 768px) {
    & {

    }
  }
}
.card-title {
  font-weight: bold;
  font-size: 16px;
}

.card-text {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
  color: $text-grey;
}

.card-body {
  padding: 0;
}

.card-img__wrap {
  display: flex;
  height: 250px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  background: $bg-img;
}

.card-img-top {
  width: auto;
  border-radius: 0;
}