@import "../vars";

.header,
.footer {
  width: 100%;
  margin: 0 auto;
  padding: 11px 0;
}
.header {
  border-bottom: 1px solid $border-color;
}
.footer {
  border-top: 1px solid $border-color;
  @media screen and (max-width: 480px)  {
    & {
      display: none;
    }
  }
}
.header_right,
.footer_right {
  display: flex;
  align-items: center;
}
.logo__wrap {
  display: flex;
  align-items: end;
}
.logo__wrap_btm {
  align-items: baseline;
}
.logo {
  display: block;
  font-size: 30px;
  line-height: 1;
}
.logo__subtitle {
  margin-left: 12px;
  line-height: 1;
  @media screen and (max-width: 992px)  {
    & {
      display: none;
    }
  }
  svg {
    margin: 0 4px -2px;
  }
}

.search-form__form {
  display: flex;
  color: $grey;
}
.search-form__label {
  display: block;
  margin: 0;
}
.search-form__input {
  width: 50px;
  border: 0;
  font-size: 16px;
  line-height: 1;
  color: $grey;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $grey;
  }
}
.search-form__btn-wrap {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
}
.search-form__btn {
  display: block;
  border: none;
  background: transparent;
  margin-left: 6px;
}
.search-form__icon {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.open-btn__wrap {
  margin-left: 30px;
}
.open-btn__link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  color: $black;
  white-space: nowrap;
  &:hover {
    color: $red;
    svg {
      circle {
        stroke: $red !important;
      }
      path {
        fill: $red !important;
      }
    }
    .modal__wrap {
      display: block;
    }
  }
  span {
    display: block;
  }
  svg {
    margin-left: 6px;
  }
}
.language__list {
  margin-left: 30px;
  font-size: 16px;
  line-height: 1;
}
.language__item {
  display: block;
  color: $black;
  &:not(:last-of-type) {
    margin-bottom: 6px;
  }
  &:hover {
    color: $red;
  }
}
.language__item_active {
  color: $grey;
}