@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  min-width: 385px;
  width: 100%;
  background: #fff;
  color: $black;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Cotham Sans';
}
a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $red;
    text-decoration: none;
    opacity: 0.8;
  }
}
input {
  font-family: 'Cotham Sans';
}
p {
  font-family: 'Roboto', sans-serif;
}
.wrapper_full-height {
  display: flex;
  align-items: center;
  height: calc(100vh - 230px);
  @media screen and (max-width: 480px) {
    & {
      height: auto;
      align-items: initial;
    }
  }
}
.wrapper_block {
  display: block;
}
.container-fluid {
  max-width: 1440px;
  width: 100%;
}
.title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1;
}